// **---------------------------------------------------**
//  Fonts -- put your custom fonts here - example commented
// -------------------------------------------------------

/* 
@font-face {
    font-family: "Heuristica";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Heuristica-Regular.woff2") format("woff2"), url("../fonts/Heuristica-Regular.woff") format("woff");
    font-display: swap;
}
*/